.background__rose {
    background-color: var(--rose-pastel);
}

.background__bleu {
    background-color: var(--bleu-pastel);
}

.background__multi {
    background: linear-gradient(#EABEBD, #79BCD9);
}