.footer{
    background-color: var(--blanc);
    font-family: var(--font-sans-sherif);
    font-size: var(--footer);
    border-top: solid;
    border-color: var(--noir);
    border-width: 0.15rem;
    width: 100%;
}

.footer__lien {
    position: absolute;
    margin-left: 11rem;
    margin-top: 1rem;
    font-family: var(--font-sans-sherif);
    font-size: var(--texte);
    color: var(--noir);
    text-decoration: none;
    border-style: solid ;
    border-width: 0.15rem;
    border-color: var(--noir);
    padding: 2%;
}

.footer__text {
    margin-left: 4.5rem;
    padding: 0.2rem;
}

.footer__logo {
    float: left;
    margin-top: 1rem;
}
