.header__title {
    display: flex;
    color: var(--noir);
    font-family: var(--font-sherif);
    font-size: var(--titre-page);
    position:absolute;
    left:35%;
    top: 5%
}

.header__menu {
    display: flex;
    filter: none;
    position: absolute;
    left: 85%;
    top: 3%;
    border: none;
    background: none;
}

.header__menu--2 {
    display: flex;
    filter: none;
    position: absolute;
    left: 85%;
    top: 100%;
    border: none;
    background: none;
}

.header__logo {
    display: flex;
    position: absolute;
    left: 1%;
    top: 1%;
}