.header__title {
    text-align: center;
    margin-left: 3rem;
    margin-top: -2.5rem;
    color: var(--noir);
    font-family: var(--font-sherif);
    font-size: var(--titre-1);

}

.header__menu {
    display: flex;
    margin-top: -3rem;
    margin-right: 1rem;
    float: right;
    filter: none;
    border: none;
    background: none;
}

.header__menu--2 {
    margin-top: -2.5rem;
    filter: none;
    border: none;
    background: none;
}

.header__logo {
    display: flex;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
}

#debut-de-page {
    margin-bottom: 10%;
}