.contenu__icon {
    margin-left: 10rem;
    margin-top: 1.5rem;
}

.contenu__icon-gallerie {
    margin-left: 1.5rem;
}

.contenu__text {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    font-family: var(--font-sans-sherif);
    font-size: var(--texte);
}

.contenu__img {
    display: flex;
    width: 60%;
    text-align: center;
    margin: auto;
    
}

.contenu__img--redimension {
    width: 48%;
}

.contenu__intertitle {
    margin-left: 1rem;
    margin-right: 1rem;
    font-family: var(--font-sans-sherif);
    font-size: var(--intertitre-article);
}

.contenu__legende {
    text-align: center;
    margin: auto;
    margin-top: 0.5rem;
    font-family: var(--font-sans-sherif);
    font-size: var(--legende-image);
    font-style: italic;
}

.contenu__citation {
    display: block;
    text-align: center;
    margin: 1rem;
    
    font-family: var(--font-sans-sherif);
    font-size: var(--base);
    font-style: italic;

}

.contenu__text--souligne {
    text-decoration: underline;
    margin-left: 1rem;
}

.contenu__caroussel {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.contenu__caroussel--text {
    font-family: var(--font-sans-sherif);
    flex: 1 0 auto;
    margin: 1rem;

}

.contenu__caroussel--text a {
    color: var(--noir);
    font-size: var(--onglet-menu);
}

.contenu__link {
    text-decoration: none;
    color: var(--noir);
    text-decoration: underline;
}