.hero__title {
    text-align: center;
    margin: auto;
    font-family: var(--font-sherif);
    font-size: var(--titre-page);
}

.hero__title--article {
    font-family: var(--font-sans-sherif);
    font-size: var(--titre-article);
    margin-left: 1rem;
}

.hero__intro {
    margin-left: 1rem;
    margin-right: 1rem;
    font-family: var(--font-sans-sherif);
    font-size: var(--introduction-article);
    font-style: italic;
    border-left: 0.2rem solid var(--noir); 
    padding-left: 1rem;
}

.hero__lien {
    text-decoration: none;
    color: var(--noir);
    text-decoration: underline;
}