.intro__text {
    display: flex;
    font-family: var( --font-sans-sherif);
    font-size: var(--texte);
    margin-top: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.intro__link {
    display: flex;
    top: 52%;
    width: 100%;
    height: 50%;
    overflow-x: scroll;
    
}

.intro__img {
    width: 350%
}

.intro__icon {
    position: absolute;
    margin-left: 10rem;
    margin-top: -4rem
}

.intro__video {
    display: flex;
    text-align: center;
    margin: auto;
}